<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="Frames">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import Frames urdf file -->
    <xacro:include filename="$(find frames_description)/urdf/frames.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="Frames.ros2_control.xacro" />


    <xacro:Frames_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
